In [13]:
import pandas as pd 
df = pd.read_csv('dataset.csv', header=None)

df.head(6)
df

                                                     0
0    3,?,alfa-romero,gas,std,two,convertible,rwd,fr...
1    3,?,alfa-romero,gas,std,two,convertible,rwd,fr...
2    1,?,alfa-romero,gas,std,two,hatchback,rwd,fron...
3    2,164,audi,gas,std,four,sedan,fwd,front,99.80,...
4    2,164,audi,gas,std,four,sedan,4wd,front,99.40,...
..                                                 ...
200  -1,95,volvo,gas,std,four,sedan,rwd,front,109.1...
201  -1,95,volvo,gas,turbo,four,sedan,rwd,front,109...
202  -1,95,volvo,gas,std,four,sedan,rwd,front,109.1...
203  -1,95,volvo,diesel,turbo,four,sedan,rwd,front,...
204  -1,95,volvo,gas,turbo,four,sedan,rwd,front,109...

[205 rows x 1 columns]

In [15]:
df.tail(5)

                                                     0
200  -1,95,volvo,gas,std,four,sedan,rwd,front,109.1...
201  -1,95,volvo,gas,turbo,four,sedan,rwd,front,109...
202  -1,95,volvo,gas,std,four,sedan,rwd,front,109.1...
203  -1,95,volvo,diesel,turbo,four,sedan,rwd,front,...
204  -1,95,volvo,gas,turbo,four,sedan,rwd,front,109...

In [14]:
data = pd.read_csv('feature_names.txt', sep=" ", header=None)
df1 = pd.DataFrame(df, columns=data)
df1

,"(symboling,)","(normalized-losses,)","(make,)","(fuel-type,)","(aspiration,)","(num-of-doors,)","(body-style,)","(drive-wheels,)","(engine-location,)","(wheel-base,)",...,"(engine-size,)","(fuel-system,)","(bore,)","(stroke,)","(compression-ratio,)","(horsepower,)","(peak-rpm,)","(city-mpg,)","(highway-mpg,)","(price,)"
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN